#usersPage{
    min-height: 100vh;

    .container{
        height: 100%;

        .usersPage__box{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
            
            &-users{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                height: 80%;
                width: 100%;
            }
        }
    }
}